<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.NOTIFICATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logowonderboost"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logowonderboost"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTCWonderboost"
        tools:targetApi="31">
        <activity
            android:name=".DetallesProducto"
            android:exported="false" />
        <activity
            android:name=".gestionar_envios"
            android:exported="false" />
        <activity
            android:name=".negociacion"
            android:exported="false" />
        <activity
            android:name=".Solicitar_Permiso"
            android:exported="false" />
        <activity
            android:name=".Tasa_Economica"
            android:exported="false" />
        <activity
            android:name=".Balance"
            android:exported="false" />
        <activity
            android:name=".Ganancias"
            android:exported="false" />
        <activity
            android:name=".editarperfil"
            android:exported="false" />
        <activity
            android:name=".ReestablecerContrasena"
            android:exported="false" />
        <activity
            android:name=".MonitorearEnvios"
            android:exported="false" />
        <activity
            android:name=".configuracion"
            android:label="configuracion" />
        <activity
            android:name=".perfil_de_usuario"
            android:label="perfil_de_usuario" />
        <activity
            android:name=".InventarioActivity"
            android:label="Inventario" />
        <activity
            android:name=".Catalogo"
            android:label="Catalogo" />
        <activity
            android:name=".ProductosIngreso"
            android:label="Ingreso de productos" />
        <activity
            android:name=".ProductosServicios"
            android:label="Productos y servicios" />
        <activity
            android:name=".Pedidos"
            android:label="Pedidos" />
        <activity
            android:name=".ClientesFrecuentes"
            android:label="Clientes frecuentes" />
        <activity
            android:name=".Envios"
            android:exported="true"
            android:label="Envio" />
        <activity
            android:name=".Calendario"
            android:label="Calendario" />
        <activity
            android:name=".Necociaciones"
            android:label="Negociaciones" />
        <activity
            android:name=".CarritoCompras"
            android:label="Carrito" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".RegistrarsePersona"
            android:exported="false" />
        <activity
            android:name=".ReestablecerClave"
            android:exported="false" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".historial"
            android:exported="false" />
        <activity
            android:name=".gestionar"
            android:exported="false" />
        <activity
            android:name=".PagoSeguimientos"
            android:exported="false" />
        <activity
            android:name=".Ventas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>