<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logowonderboost"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logowonderboost"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTCWonderboost"
        tools:targetApi="31">
        <activity
            android:name=".califi_opini"
            android:exported="false" />
        <activity
            android:name=".calificacion_y_opiniones"
            android:exported="false"
            android:label="@string/title_activity_calificacion_yopiniones"
            android:theme="@style/Theme.PTCWonderboost" />
        <activity
            android:name=".Agregar_Productos"
            android:exported="false" />
        <activity
            android:name=".RegistrarsePersona"
            android:exported="false" />
        <activity
            android:name=".ReestablecerClave"
            android:exported="false" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>